body {
    margin: 0px;    
    background-image: url("../img/background_login.png");
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: 50% 100px;
}

#construction {
    left: 38%;
    top: 35%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: rgba(68, 68, 68, 0.1);
    box-shadow: 2px 7px 15px 8px rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
    z-index: -5;
    width: 440px;
    height: 240px;
}